*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color:lavender;
}

section{
    width: 800px;
    border:black;
    margin: auto;
}
.title{
    /*Box Model*/
    margin: 2rem;
    padding: 0.5rem;
    /*Text*/
    font-size: 30px;
    text-align: center;
    /*visual*/
    background-color:darkorchid;
    border: solid black;
    /*Otras propiedades*/
    transition: transform 1ms;
}

section div{
    transition: box-shadow 0.3s ease;
    background-color:lavenderblush;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

